node-red/flows_live.json
[{"id":"90a87038.91cd","type":"tab","label":"Main","disabled":false,"info":""},{"id":"3788cda.42acc32","type":"debug","z":"90a87038.91cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":160,"wires":[]},{"id":"938976df.7131b8","type":"function","z":"90a87038.91cd","name":"IBM iot input data","func":"var temp_firefighting_suit;\nvar heart_rate;\nvar external_temperature;\nvar external_humidity;\n\n//random values\ntemp_firefighting_suit = 74\nheart_rate = 168;\nexternal_temperature = 88;\nexternal_humidity = 90;\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\niam_token = 'IAM TOKEN GOES HERE';\nmsg.headers['Authorization'] = 'Bearer '+iam_token;\n\nvar instance_id = 'd5f213a2-db16-4e0a-9ff6-997ea661fe31';\nmsg.headers['ML-Instance-ID'] = instance_id;\n\nflow.set('flowTemp_firefighting'+ msg._msgid,temp_firefighting_suit);\nflow.set('flowHeartRate'+ msg._msgid,heart_rate);\nflow.set('flowExternalTemp'+ msg._msgid,external_temperature);\nflow.set('flowExternalHumidity'+ msg._msgid,external_humidity);\n\n//var apikey= \"KM0jjT3paPNsslcxoQ5SiUjCBtxTYM_LYaiWH5Iec5FU\"; \n//var url= \"https://us-south.ml.cloud.ibm.com\";\nmsg.payload = { \"input_data\" :[] };\n\nvar fields = [\"temp_firefighting_suit\", \"heart_rate\", \"external_temperature\", \"external_humidity\"];\nvar values = [temp_firefighting_suit,heart_rate,external_temperature,external_humidity];\n\nmsg.payload['input_data'] = [{\"fields\": fields, \"values\": [values]}];\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["73f8530.952f5ac","1879e024.32d87"]]},{"id":"73f8530.952f5ac","type":"http request","z":"90a87038.91cd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/fc185b94-faf3-407f-8657-cfbd8318f3f7/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":160,"wires":[["266cc966.8e74c6"]]},{"id":"266cc966.8e74c6","type":"function","z":"90a87038.91cd","name":"Prediction","func":"var timestamp = new Date().valueOf()/1000;\n\n\nvar temp_firefighting_suit = flow.get('flowTemp_firefighting'+ msg._msgid);\nvar heart_rate = flow.get('flowHeartRate'+ msg._msgid);\nvar external_temperature = flow.get('flowExternalTemp'+ msg._msgid);\nvar external_humidity = flow.get('flowExternalHumidity'+ msg._msgid);\n\n\nmsg.payload = {\"fields\": [\"prediction\", \"temp_firefighting_suit\", \"heart_rate\", \"external_temperature\", \"external_humidity\"], \"values\": [msg.payload.predictions[0].values[0][0], temp_firefighting_suit, heart_rate, external_temperature, external_humidity]};\n\n\nflow.set('flowTemp_firefighting'+ msg._msgid);\nflow.set('flowHeartRate'+ msg._msgid);\nflow.set('flowExternalTemp'+ msg._msgid);\nflow.set('flowExternalHumidity'+ msg._msgid);\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["3788cda.42acc32","2cb66311.97ff8c"]]},{"id":"1879e024.32d87","type":"debug","z":"90a87038.91cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":240,"wires":[]},{"id":"3271f260.1ad5ce","type":"mysql","z":"90a87038.91cd","mydb":"37a91f31.0c0b1","name":"","x":1010,"y":300,"wires":[[]]},{"id":"accd1ba.ba70ee8","type":"debug","z":"90a87038.91cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"external_temperature","targetType":"msg","x":960,"y":440,"wires":[]},{"id":"2cb66311.97ff8c","type":"function","z":"90a87038.91cd","name":"Logging to mySQL","func":"msg.timestamp = new Date().valueOf();\nmsg.sensorid = 12345\n\nvar temp_firefighting_suit;\nvar heart_rate;\nvar external_temperature;\nvar external_humidity;\n\nmsg.prediction = msg.payload.values[0];\nmsg.temp_firefighting_suit = msg.payload.values[1];\nmsg.heart_rate = msg.payload.values[2];\nmsg.external_temperature = msg.payload.values[3];\nmsg.external_humidity = msg.payload.values[4];\n\n\nmsg.topic = \"insert into `lifewatch-db` ( sensorid ,timestamp , status, temp_firefighting_suit, heart_rate, external_temperature, external_humidity ) values ('\" + msg.sensorid + \"', \" + msg.timestamp + \", \" + msg.prediction + \", \" + msg.temp_firefighting_suit + \", \" + msg.heart_rate + \", \" + msg.external_temperature  + \", \" +  msg.external_humidity +\")\";\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["accd1ba.ba70ee8","3271f260.1ad5ce"]]},{"id":"7894a661.b11aa8","type":"ibmiot in","z":"90a87038.91cd","authentication":"quickstart","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"","commandType":"","format":"","name":"IBM IoT","service":"","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":210,"y":240,"wires":[["938976df.7131b8"]]},{"id":"37a91f31.0c0b1","type":"MySQLdatabase","z":"","name":"lifewatch-db","host":"127.0.0.1","port":"3306","db":"lifewatch-node-red","tz":""}]